@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url(/src/fonts/Inter-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url(/src/fonts/Inter-Medium.woff2) format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url(/src/fonts/Inter-SemiBold.woff2) format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url(/src/fonts/Inter-Bold.woff2) format('woff2');
}

@font-face {
  font-family: 'Raydis';
  font-style: normal;
  font-weight: 700;
  src: url(/src/fonts/Raydis-Bold.woff2) format('woff2');
}